<!DOCTYPE html>
<table id="board"><tbody>
    <table border="1">

      <tr>
        <td>  <img id="1" src= <%= @images[0]%> height="128" width="128"></td>
        <td>  <img id="2" src= <%= @images[1]%> height="128" width="128"></td>
        <td>  <img id="3" src= <%= @images[2]%> height="128" width="128"></td>
      </tr>
      <tr>
        <td>  <img id="4" src= <%= @images[3]%> height="128" width="128"></td>
        <td>  <img id="5" src= <%= @images[4]%> height="128" width="128"></td>
        <td>  <img id="6" src= <%= @images[5]%> height="128" width="128"></td>
      </tr>
      <tr>
        <td>  <img id="7" src= <%= @images[6]%> height="128" width="128"></td>
        <td>  <img id="8" src= <%= @images[7]%> height="128" width="128"></td>
        <td>  <img id="9" src= <%= @images[8]%> height="128" width="128"></td>
      </tr>
    </tbody>
  </table>
 <br>
