<!DOCTYPE html>
<table id="board"><tbody>
    <table border="1">

      <tr>
        <td>  <img id="1" src= <%= @img[0]%> alt="E" height="128" width="128"></td>
        <td>  <img id="2" src= <%= @img[1]%> alt="E" height="128" width="128"></td>
        <td>  <img id="3" src= <%= @img[2]%> alt="E" height="128" width="128"></td>
      </tr>
      <tr>
        <td>  <img id="4" src= <%= @img[3]%> alt="E" height="128" width="128"></td>
        <td>  <img id="5" src= <%= @img[4]%> alt="E" height="128" width="128"></td>
        <td>  <img id="6" src= <%= @img[5]%> alt="E" height="128" width="128"></td>
      </tr>
      <tr>
        <td>  <img id="7" src= <%= @img[6]%> alt="E" height="128" width="128"></td>
        <td>  <img id="8" src= <%= @img[7]%> alt="E" height="128" width="128"></td>
        <td>  <img id="9" src= <%= @img[8]%> alt="E" height="128" width="128"></td>
      </tr>
    </tbody>
  </table>
 <br>
