<!DOCTYPE html>

<table id="board"><tbody>
    <table border="1">
      <tr><td id="cell0"><%= @img[0]%></td><td id="cell1"><%= @img[1]%></td><td id="cell2"><%= @img[2]%></td><tr>
      <tr><td id="cell3"><%= @img[3]%></td><td id="cell4"><%= @img[4]%></td><td id="cell5"><%= @img[5]%></td><tr>
      <tr><td id="cell6"><%= @img[6]%></td><td id="cell7"><%= @img[7]%></td><td id="cell8"><%= @img[8]%></td><tr>
</tbody></table>
<br>

<p> <%= @results %> </p>
<p> <%= @board_form %> </p>
